@{
    ViewData["Title"] = "Політика конфіденційності";
}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - EcoEnergy</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <style>
        body {
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            color: #343a40;
            margin: 0;
            padding: 0;
            background-color: #4682B4;
        }
    </style>
</head>
<body>

<div>
    <a asp-action="Index">Відсутня :)</a>
</div>

</body>
</html>